<!doctype html>
<html lang="en">
    <head>
        <title>Stay-Connected Template</title>
        
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    
    <body>
        <div class="A4">
            <section>T-Mobile Logo</section>
        </div>

        

    </body>
</html>